@charset "UTF-8";

*,:after,:before
{
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.wrapper
{
	margin:0 auto;
	width:75%;
}

.row:after
{
	clear:both;
	content:"";
	display:table;
}

[class*=col-]
{
	float:left;
	margin-bottom:20px;
	padding-right:20px;
}

[class*=col-]:last-of-type
{
	padding-right:0;
}
/*--------------------------------------------------------------
 COLUMNS
-------------------------------------------------------------- */
.col-1-2
{
	width:50%;
}

.col-1-4
{
	width:25%;
}

.col-1-6
{
	width:16.66%;
}

.col-5-6
{
	width:83.32%;
}

img
{
	max-width:100%;
}

#team li:first-child a
{
	background-image:url(../img/fb-sprite.png);
}

#team li:nth-child(2) a
{
	background-image:url(../img/twitter-sprite.png);
}

#team li:first-child a,#team li:nth-child(2) a
{
	background-position:0 0;
	background-repeat:no-repeat;
	display:inline-block;
	height:35px;
	width:35px;
}

#team li:first-child a:hover,#team li:nth-child(2) a:hover
{
	background-position:0 -35px;
}

#work a:hover
{
	color:red;
}
/*--------------------------------------------------------------
Media Query
-------------------------------------------------------------- */
@media screen and (max-width: 480px) {
		.wrapper
		{
			margin:0 auto;
			width:80%;
		}

		.col-1-2, .col-1-4, .col-5-6, .col-1-6 {
			width: 100%
		}
}
	
	.flex
	{
		display:flex;
		overflow:hidden;
	}
	
	.flex [class*=col-]
	{
		flex:1;
	}
	
	.logo
	{
		color:#F5F5F5;
		display:inline-block;
		font-family:'Rock Salt', cursive;
		font-size:2rem;
		margin:1rem;
	}
	
	body
	{
		color:#000;
		font-family:Roboto, sans-serif;
	}
	
	p
	{
		font-size:1rem;
		line-height:1.4rem;
	}
	
	footer p:
	{
		font-size:5rem;
	}
	
	div.center-block > p:first-of-type
	{
		color:red;
		font-size:2.65rem;
		line-height:3rem;
	}
	
	/*--------------------------------------------------------------
_.0 - TYPOGRAPHY
-------------------------------------------------------------- */
	h1
	{
		color:red;
		font-size:2.75rem;
		font-weight:400;
		text-align:center;
	}
	
	h2
	{
		color:#bf0000;
		font-size:2rem;
		font-weight:400;
		text-align:center;
	}
	
	h3
	{
		color:maroon;
		font-size:1.5rem;
		font-weight:400;
		margin-top:-.05rem;
		text-align:center;
	}
	
	.bold
	{
		font-weight:700;
	}
	
		
	.logo
	{
		color:#F5F5F5;
		display:inline-block;
		font-family:'Rock Salt', cursive;
		font-size:2rem;
		margin:1rem;
	}
	
	body
	{
		color:#000;
		font-family:Roboto, sans-serif;
	}
	
	p
	{
		font-size:1rem;
		line-height:1.4rem;
	}
	
	footer p:
	{
		font-size:5rem;
	}
	
	div.center-block > p:first-of-type
	{
		color:red;
		font-size:2.65rem;
		line-height:3rem;
	}
	
	/*--------------------------------------------------------------
_.0 - LISTS
-------------------------------------------------------------- */
	
	ul li
	{
		color:#000;
		display:inline-block;
		list-style:none;
		margin:0 auto;
		padding-top:1rem;
		text-align:center;
	}
	
	nav ul li
	{
		color:#000;
		display:inline-block;
		float:right;
		list-style:none;
		list-style-type:none;
		padding:10px;
		text-decoration:none;
	}
	
	footer nav ul li
	{
		float:left;
	}
	
	footer p
	{
		font-size:.5rem;
		line-height:.8rem;
	}
	
	#team ul li a
	{
		background-color:transparent;
		display:block;
		height:35px;
		list-style-image:none;
		list-style-type:none;
		margin-top:-1.2rem;
		text-decoration:none;
		text-transform:uppercase;
		width:35px;
	}
	
	#team ul li a: hover
	{
		text-decoration:none;
	}
	
	#team ul
	{
		margin-right:3rem;
		margin-top:-.5rem;
	}
	
	.button1,.button2
	{
		-moz-border-radius:.75rem;
		-ms-border-radius:.75rem;
		-o-border-radius:.75rem;
		-webkit-border-radius:.75rem;
		align-content:center;
		background-color:#BF0000;
		border:solid;
		border-color:red;
		border-radius:.75rem;
		color:#FFF;
		display:inline-block;
		font-size:1.5rem;
		padding-left:1rem;
		padding-right:1rem;
		text-align:center;
		text-decoration:none;
		text-transform:uppercase;
	}
	
	.button2
	{
		padding-left:2.1rem;
		padding-right:2.1rem;
	}
	
	.button1:hover,.button2:hover
	{
		background-color:#fff;
		border-color:#BF0000;
		color:#000;
	}
	
	a
	{
		border-color:transparent;
		border-style:solid;
		border-width:1px;
		color:#000;
		text-decoration:none;
	}
	
	nav a:hover,#work a:hover
	{
		border-bottom-color:red;
	}
	
	button: hover
	{
		background-color:#400000;
		box-shadow:0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}
	
	.row
	{
		display:inline;
		overflow:auto;
	}
	
	.p-t-sm
	{
		padding-top:10px;
	}
	
	.p-t-md
	{
		padding-top:20px;
	}
	
	.p-t-lg
	{
		padding-top:50px;
	}
	
	.p-b-lg
	{
		padding-bottom:50px;
	}
	
	.p-b-xl
	{
		padding-bottom:100px;
	}
	
	.m-t-0
	{
		margin-top:0;
	}
	
	.m-b-lg
	{
		margin-bottom:50px;
	}
	
	#hero
	{
		-moz-background-size:cover;
		-o-background-size:cover;
		-webkit-background-size:cover;
		background:url(../img/hero.png) no-repeat center center fixed;
		background-size:cover;
	}
	
	figure
	{
		-webkit-margin-after:0;
		-webkit-margin-before:0;
		-webkit-margin-end:0;
		-webkit-margin-start:0;
	}
	
	.push-right
	{
		float:right!important;
	}
	
	.push-left
	{
		float:left!important;
	}
	
	.txt-uppercase
	{
		text-transform:uppercase;
	}
	
	.txt-center
	{
		text-align:center;
	}
	
	footer
	{
		bottom:0;
		left:0;
		padding:1rem;
		right:0;
		text-align:center;
	}
}