@charset "UTF-8";
/* CSS Document */

/* ====== TABLE OF CONTENTS ======
1.0 - columns
2.0 - colors
3.0 - media
4.0 - media queries
5.0 - flex properties
6.0 - typography
7.0 - navigation
8.0 - utility
================================ */

*, *:after, *:before {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	margin: 0 auto;
	width: 75%
}

.row:after {
	content: "";
	display: table;
	clear: both;	
}

/*--------------------------------------------------------------
1.0 - columns
-------------------------------------------------------------- */

/*--- cols ---- */
[class*='col-'] {
	float: left;	
	padding-right:20px;
	margin-bottom: 20px;
}

[class*='col-']:last-of-type {
	padding-right: 0;
}

/*--- col-1 ---- */
.col-1-1 {
	width: 100%;
}

/*--- col-2 ---- */
.col-1-2 {
	width: 50%;
}

/*--- col-3 ---- */
.col-1-3 {
	width: 33.33%;	
}

.col-2-3 {
	width: 66.66%;
}

/*--- col-4 ---- */
.col-1-4 {
	width: 25%;	
}

.col-3-4 {
	width: 75%;
}

/*--- col-5 ---- */
.col-1-5 {
	width: 20%;	
}

.col-2-5 {
	width: 40%;
}

.col-3-5 {
	width: 60%;
}

/*--- col-6 ---- */
.col-1-6 {
	width: 16.66%;	
}

.col-5-6 {
	width: 83.32%
}

/*--- col-7 ---- */
.col-1-7 {
	width: 14.28%	
}

.col-2-7 {
	width: 28.57%;	
}

.col-3-7 {
	width: 42.86%;	
}

.col-4-7 {
	width: 57.14%;	
}

.col-5-7 {
	width: 71.43%;	
}

/*--- col-8 ---- */
.col-1-8 {
	width: 12.5%;	
}

.col-3-8 {
	width: 37.5%;
}

.col-5-8 {
	width: 62.5%;
}

/*--- col-9 ---- */
.col-1-9 {
	width: 11.11%;	
}

.col-2-9 {
	width: 22.22%;	
}

.col-4-9 {
	width: 44.44%;	
}

.col-5-9 {
	width: 55.56%;	
}

.col-7-9 {
	width: 77.78%;	
}
					
/*--- col-10 ---- */
.col-1-10 {
	width: 10%;	
}

.col-3-10 {
	width: 30%;	
}

.col-7-10 {
	width: 70%;	
}

/*--- col-11 ---- */
.col-1-11 {
	width: 9.09%;	
}

.col-2-11 {
	width: 18.18%;	
}

.col-3-11 {
	width: 27.27%;	
}

.col-4-11 {
	width: 36.36%;	
}

.col-5-11 {
	width: 45.45%;	
}

.col-6-11 {
	width: 54.55%;	
}

.col-7-11 {
	width: 63.64%;	
}

.col-8-11 {
	width: 72.73%;	
}

.col-9-11 {
	width: 81.82%;
}		

/*--- col-12 ---- */
.col-1-12 {
	width: 8.33%;	
}

.col-5-12 {
	width: 41.65%;
}

.col-7-12 {
	width: 58.32%;
}

/*--------------------------------------------------------------
2.0 - color
-------------------------------------------------------------- */


/*--------------------------------------------------------------
3.0 - media
-------------------------------------------------------------- */

img {
	max-width: 100%;	
}

/*--------------------------------------------------------------
4.0 - media queries
-------------------------------------------------------------- */
@media (max-width: 480px) { 
	
	.wrapper {
		width:85%;
	}
	
	
	.col-1-4, .col-1-6.col-sm, .col-1-3.col-sm, .col-2-11, .col-1-8, .col-1-12 {
		width:25%;
	}
	
	.col-1-3, .col-2-7, .col-3-8, .col-3-10, .col-1-6, .col-1-9 {
		width:33.33%;
	}
	
	.col-2-5, .col-3-5, .col-5-12, .col-4-9, .col-5-9, .col-7-12, .col-1-10 {
		width:50%;
	}
	
	.col-5-7, .col-5-8, .col-7-10 {
		width:66.66%;
	}
	
	.col-2-3, .col-3-4, .col-5-6,  .col-9-11 {
		width: 75%;	
	}
	
	.col-1-7, .col-1-11 {
		width:100%;
	} 

	  .col-1-6:nth-child(3), .col-1-7, .col-1-8:nth-child(4), .col-1-9:nth-child(3), .col-1-9:nth-child(6), .col-1-10, .col-1-11, .col-1-12:nth-child(4), .col-1-12:nth-child(8)  	{
		padding-right: 0;	
	}
}

/*--------------------------------------------------------------
5.0 - flex
-------------------------------------------------------------- */
/* flex code --remember to set heght to 100% for flex*/

.flex {
	display: -webkit-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -mz-flex;
	display: flex;
	overflow: hidden;
}

.flex [class*='col-'] { 
	flex: 1;
}

/*--------------------------------------------------------------
6.0 - Typography
-------------------------------------------------------------- */

.logo 
	{
	font-family: 'Rock Salt', cursive;
	color: whitesmoke;
	display: inline-block;
	font-size: 2rem;
	margin: 1rem;
	}

body {
	font-family: 'Roboto', sans-serif;
	color: black;
}


p {
	font-size: 2rem;
	line-height: 2rem;
}

p:first-child {
	color: #ff0000;
}



h1 {
	color: #bf0000;
}

h2, h3 {
	color: #800000;
}

.bold {
	font-weight: 700;
}

/*h1 h2 h3 h4 li p nav a footer ul*/



/*--------------------------------------------------------------
7.0 - navigation
-------------------------------------------------------------- */


ul {
	padding-top: 1rem;
	text-align: center;
	list-style: none;
	
	
}

nav ul li {
	display: inline-block;
	list-style:none;
	float: right;
	padding: 10px;
	color: black;
	list-style-type: none;
	text-decoration: none;
	
}


button {
	border-color: #FF0000;
	background-color: #BF0000;
	border: solid;
	align-content: center;
	color: white;
	text-align: center;
	display: inline-block;
	font-size: 1.5rem;
	padding: .5rem;
	border-radius: 1.25rem;
}

a {
	text-decoration: none;
	color: black;
	border-style: solid;
	border-color: transparent;
	border-width: 1px;
	
}

a:hover {
	border-bottom-color: #FF0000;
}

button: hover {
	background-color: #400000;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/*
button-one {
	width: 125%;
	
}

button-two {
	width: 100%;
}*/

/*
html classess

	.row 
	{
		
	}

.logo 
	{
	font-family: 'Rock Salt', cursive;		
	}
	
*/

/*
html ids

#hero 
	{
		
	}
*/

/*--------------------------------------------------------------
8.0 - utility
-------------------------------------------------------------- */

.row {
	overflow: auto;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.p-t-sm {
	padding-top: 10px;
}
.p-t-md {
	padding-top: 20px;
}
.p-t-lg {
	padding-top: 50px;
}
.p-b-lg {
	padding-bottom: 50px;
}
.p-b-xl {
	padding-bottom: 100px;
}
.m-t-0 {
	margin-top: 0;
}
.m-b-lg {
	margin-bottom: 50px;
}

#hero { 
  background: url(../img/hero.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

figure {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

.push-right {
	float: right !important;
}

.txt-uppercase {
	text-transform:uppercase;
}

.txt-center {
	text-align: center;
}